<!-- templates/registration/login.html -->
{%  extends "layout.html" %}
{% block conteudo %}
    {%if sucess %}
    <p>Um e-mail foi enviado para você para troca de senha</p>
    {% else %}
        <h2>Informe seu e-mail/</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit">Enviar E-mail</button>
        </form>
    {% endif %}
{% endblock %}