{% extends "layout.html" %}
{% block conteudo %}
{% load static %}
    <div class="row mb-12">
        <div class="col-md-12">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ course.name }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" >Matrículas Abertas </a>
              </h3>
              <div class="mb-1 text-muted">{{ course.start_date }}</div>
              <p class="card-text mb-auto">{{ course.description | linebreaks}}</p>
              <p class="card-text mb-auto">{{ course.about | linebreaks}}</p>
              <a href="#">Slug: {{course.slug}}</a>
            </div>
            {% if course.image %}
              <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{course.image.url}}" data-holder-rendered="true">
            {% else %}
              <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{% static 'img/download.png' %}" data-holder-rendered="true">
            {%endif%}
          </div>
        </div>
        <fieldset>
          <form method="post">
          <!--  {% csrf_token %}
            <h3>Usando só a tag form  </h3>
           {{ form }}

           <br>
           <br>
           <h3>Usando template tags </h3>-->
           {% for field in form %}
           <div class="form-group row">
            {{field.label_tag}}

            <div class="col-10">
              {{field}}
            </div>
            {{field.errors}}
            <!--{% if field.erros %}
            <span>Campo obrigatório</span>
            {% endif %}-->
          </div> 
          {% endfor %}
          <div class="form-group row">
            <button type="submit">Enviar</button>
          </div>  
          </form>
          
        </fieldset>
      </div>
     
{%endblock%}    

    
    
